<div class="container">
<div class="card border-info mb-3" style="max-width: 100%;margin-top: 20px;">
  <div class="card-header">Blog Point</div>
  <div class="card-body text-dark">
    <h5 class="card-title">Welcome to the site</h5>
    <p class="card-text">This is the personal blog site of mine. You'll get the latest updates here!</p>
    <p class="card-text">See the blogs!</p>
  </div>
</div>

<a href="https://vishalmauriya.github.io/"><button type="button" class="btn btn-outline-dark">See the Profile</button></a>

</div>


<div class="alert alert-warning text-center" role="alert" style="margin-top: 80px;">
  Welcome to Blogs point!
</div>

<div class="container text-center" style="margin-top: 80px;">
  <div class="row">
    <div class="col">
  <img src="b1.jpg" height="200px" width="100%" alt="img">
    </div>

    <div class="col">
  <img src="item.jpg" height="200px" width="100%" alt="img">
    </div>
  </div>
</div>